<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
</head>
<body>
  <h1>Welcome to My Site</h1>
  <p>You are now logged in and can access all of the features of this site.</p>
  <h2>Featured Content</h2>
  <ul>
    <li><a href="#">Article 1</a></li>
    <li><a href="#">Article 2</a></li>
    <li><a href="#">Article 3</a></li>
  </ul>
  <h2>Recent Activity</h2>
  <ul>
    <li>User A posted a new article</li>
    <li>User B commented on an article</li>
    <li>User C liked a post</li>
  </ul>
  <a href="{% url 'my_view' %}" class = 'btn btn-primary '>GO to view </a>
</body>
</html>
